#Feature Enginering

Pda bagian ini fitur akan diekstraksi dan diubah menjadi format yang sesuai dengan model machine learning. 

Pada proyek ini variabel numerik dan kategorikal perlu diubah. Sebagian besar algoritma machine learning memerlukan nilai numerik, oleh sebab itu semua variabel kategorikal akan diubah menjadi label numerik sedangkan variabel numerik akan diubah menjadi skala umum.

###Label encoding

Label encoding digunakan untuk mengubah nilai kategorikal dengan nilai numerical. Encoding ini mengubah setiap kategori dengan label numerical.

In [ ]:
telco_data_transformed = telco_data.copy()

# label encoding (binary variables)
label_encoding_columns = ['gender', 'Churn']

# encode categorical binary features using label encoding
for column in label_encoding_columns:
    if column == 'gender':
        telco_data_transformed[column] = telco_data_transformed[column].map({'Female': 1, 'Male': 0})
    else: 
        telco_data_transformed[column] = telco_data_transformed[column].map({'Yes': 1, 'No': 0})

In [ ]:
telco_data_transformed.head()

   gender     PaymentMethod  MonthlyCharges  TotalCharges  Churn
0       1  Electronic check        2985.00%      2985.00%      0
1       0      Mailed check        5695.00%    188950.00%      0
2       0      Mailed check        5385.00%     10815.00%      1
3       0     Bank transfer        4230.00%    184075.00%      0
4       1  Electronic check        7070.00%     15165.00%      1

####One hot encoding

one hot encoding menciptakan kolom binary baru untuk setiap level dari variable kategorikal. Berisi 0 dan 1 untuk mengindikasikan ada atau tidak nya kategori pada data. One hot encoding diterapkan pada PaymentMethod pada penelitian ini.

In [ ]:
# one-hot encoding (categorical variables with more than two levels)
one_hot_encoding_columns = ['PaymentMethod']

# encode categorical variables with more than two levels using one-hot encoding
telco_data_transformed = pd.get_dummies(telco_data_transformed, columns = one_hot_encoding_columns)

In [ ]:
telco_data_transformed.head()

,gender,MonthlyCharges,TotalCharges,Churn,PaymentMethod_Bank transfer,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,2985.00%,2985.00%,0,0,0,1,0
1,0,5695.00%,188950.00%,0,0,0,0,1
2,0,5385.00%,10815.00%,1,0,0,0,1
3,0,4230.00%,184075.00%,0,1,0,0,0
4,1,7070.00%,15165.00%,1,0,0,1,0

####Normalization

Normalisasi digunakan untuk mengubah kolom numerik menjadi nilai skala yang lebih umum.

In [ ]:
# min-max normalization (numeric variables)
min_max_columns = ['MonthlyCharges', 'TotalCharges']

# scale numerical variables using min max scaler
for column in min_max_columns:
        # minimum value of the column
        min_column = telco_data_transformed[column].min()
        # maximum value of the column
        max_column = telco_data_transformed[column].max()
        # min max scaler
        telco_data_transformed[column] = (telco_data_transformed[column] - min_column) / (max_column - min_column)

In [ ]:
telco_data_transformed.head()

,gender,MonthlyCharges,TotalCharges,Churn,PaymentMethod_Bank transfer,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,11.54%,0.13%,0,0,0,1,0
1,0,38.51%,21.59%,0,0,0,0,1
2,0,35.42%,1.03%,1,0,0,0,1
3,0,23.93%,21.02%,0,1,0,0,0
4,1,52.19%,1.53%,1,0,0,1,0

In [ ]:
#exclude the unnamed variable
data = telco_data_transformed

#show null values and its percentage
checking_null_values(data)

Dimension of the dataset (7032, 8)

,Columns Type,Amount of Null Values,Percentage null values
gender,int64,0,0.00%
MonthlyCharges,float64,0,0.00%
TotalCharges,float64,0,0.00%
Churn,int64,0,0.00%
PaymentMethod_Bank transfer,uint8,0,0.00%
PaymentMethod_Credit card,uint8,0,0.00%
PaymentMethod_Electronic check,uint8,0,0.00%
PaymentMethod_Mailed check,uint8,0,0.00%